.place__title {
  margin: 0;
  padding: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  font-style: normal;
}

@media screen and (max-width: 1024px) {
  .place__title {
    max-width: 440px;
  }
}

@media screen and (max-width: 768px) {
  .place__title {
    max-width: 330px;
    font-size: 42px;
    line-height: 46px;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .place__title {
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
    margin: 0 16px;
  }
}
