.places {
  max-width: 984px;
  padding: 92px 148px 92px 148px;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
    padding-left: 48px;
    padding-right: 48px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    max-width: 720px;
    padding: 88px 24px 90px 24px;
  }
}

@media screen and (max-width: 480px) {
  .places {
    padding: 64px 0;
  }
}
