.lead {
  max-width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 148px 0;
}


@media screen and (max-width: 1023px) {
  .lead {
    padding-top: 48px;
  }
}

@media screen and (max-width:424px) {
  .lead {
    padding-right: 0;
    padding-left: 0;
  }
}