
.cover__subtitle {
  max-width: 360px;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  font-weight: 400;
  color: #FFF;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    max-width: 288px;
    margin: 0 16px;
  }
}