.footer__link {
  text-decoration: none;
  margin-right: 18px;
  color: #FFF;
  text-align: left;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px
}

.footer__link:last-of-type {
  margin-bottom: 0;
  margin-right: 0;
}


@media screen and (max-width: 767px) {
  .footer__link {
    margin-bottom: 48px;
    line-height: 24px;
    font-size: 24px;
  }
}
