.footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .footer__links {
    margin: 0 0 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 186px;
  }
}


