.intro {
  display: flex;
  flex-direction: column;
  max-width: 690px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 92px 442px 0 148px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 92px 286px 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 480px) {
  .intro {
    max-width: 288px;
    padding: 64px 16px 0;
  }
}

