.lead__subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  max-width: 640px;
  text-align: center;
  padding: 32px 0 64px;
  margin: 0;
  color: #FFF;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    padding-bottom: 56px;
  }
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    margin: 0;
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
    padding: 16px 0 40px;
  }
}