.cover__background {
  color: #FFF;
  position: relative;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:url("../../../images/cover-trains.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  min-height: 740px;
}


.cover__background::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2A2C2F;
  background-size: cover;
  opacity: 0.3;
  transition: opacity 0.4s ease-in;
}


.cover__background:hover::before {
  opacity: 0.8;
  cursor: pointer;
  z-index: 1;
}



@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__background {
    min-height: 480px;
  }
}


@media screen and (max-width:320px) {
  .cover__background {
    min-height: 200px;
  }
}
