.cover__title {
  max-width: 560px;
  font-style: normal;
  text-align: center;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0 0 32px;
  color: #FFF;
  text-decoration: none;
}


@media screen and (max-width:320px) {
  .cover__title {
    max-width: 240px;
    font-size: 32px;
    line-height: 35px;
    margin: 0 0 16px;
  }
}