.place {
  display: grid;
  grid-template-columns: 460px minmax(min-content, 1fr);
  gap: 48px 40px;
  grid-row: 2/2;
  margin-bottom: 80px;
  max-width: 984px;
  padding: 0;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px minmax(min-content, 1fr);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px minmax(min-content, 1fr);
    column-gap: 28px;
    margin-bottom: 65px; 
  }
}

@media screen and (max-width: 600px) {
  .place {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    margin-bottom: 50px;
  }
}

