.place {
  display: grid;
  grid-template-columns: 460px minmax(min-content, 1fr);
  gap: 48px 40px;
  grid-row: 2/2;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    grid-template-columns: 440px minmax(min-content, 1fr);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .place {
    grid-template-columns: 340px minmax(min-content, 1fr);
    column-gap: 28px;
  }
}

@media screen and (max-width: 480px) {
  .place {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}



