.footer {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  padding: 92px 48px 24px;
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .footer {
    width: calc(100% - 4*24px);
  }
}

@media screen and (max-width: 767px) {
  .footer {
    width: 100%;
    padding: 88px 24px 24px;
    word-wrap: break-word;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    width: 100%;
    align-items: start;
    flex-direction: column;
    gap: 48px;
    padding: 64px 16px 24px;
    margin: 0;
  }
}
