.place__website {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  max-width: 456px;
}

@media (min-width: 320px) and (max-width: 700px) {
  .place__website {
    width: calc(100% - 1*16px);
    height: 46px;
  }
}
