.place__website {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  align-self: end;
  margin: 0;
}

@media screen and (max-width: 480px) {
  .place__website {
    margin: 0 auto 32px;
    width: calc(100% - 2*16px);
  }
}
